<div class="center hero-unit"> <h1>Welcome to the Sample App</h1>
<h2>
This is the home page for the
<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> sample application.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success	" %> </div>
<iframe scrolling="no" frameborder="0" src="http://www.connect.renren.com/widget/liveWidget?api_key=da711f3efca54f68a8fb05edc220365c&xid=default&url=http%3A%2F%2Fcryptic-beach-2621.herokuapp.com%2F&desp=%E5%A4%A7%E5%AE%B6%E6%9D%A5%E8%AE%A8%E8%AE%BAtest" style="width: 370px;height: 390px;"></iframe>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>